@use '../generics/colors';

.NotFoundPage {
    gap: 100px;
    .button1 {
        width: 300px;
        height: 60px;
        margin-bottom: 50px;
    }
    .pageTitle {
        color: white;
        background-color: colors.$darkBase;
        height: 30vh;
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 -50%;
    }
}