@use '../generics/colors';

.ProductPage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 60px;
    gap: 120px;
    @media screen and (max-width: 450px) {
        padding-top: 20px;
        gap: 180px;
    }
    .backButton {
        width: 65px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -60px;
        cursor: pointer;
        &:hover {
            p {
                color: colors.$accent;
            }
        }
        p {
            transition: color 0.2s;
        }
        @media screen and (min-width: 1300px) {
            margin-bottom: 0;
        }
        @media screen and (max-width: 450px) {
            margin-bottom: -150px;
        }
    }
    .ProductDetails {
        margin-bottom: 85px;
    }
}