@use './colors';

.Input, .InputFull {
    width: 100%;
}
.Input {
    display: flex;
    flex-direction: column;
    .aboveBorder {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        .error {
            display: none;
            color: red;
        }
        .errorActive {
            display: inline;
        }
    }
    .input {
        border: 1px solid #CFCFCF;
        border-radius: 5px;
        padding: .7rem 1.2rem;
        &:focus {
            outline: none;
            border-color: colors.$accent;
        }
    }
    .inputError {
        border: 2px solid red;
    }
}
.Radio {
    border: 1.5px solid colors.$utility;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    width: 230px;
    height: 45px;
    border-radius: 5px;
    padding-left: 10px;
    transition: border 0.2s;
    &:hover {
        border-color: colors.$accent;
    }
    .radioCircle {
        height: 15px;
        width: 15px;
        border: 1px solid colors.$utility;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .radioCircleCenterActive {
            height: 7px;
            width: 7px;
            background-color: colors.$accent;
            border-radius: 50%;
        }
    }
}
.RadioActive {
    border: 1.5px solid colors.$accent !important;
}
.Counter, .CartCounter {
    background-color: colors.$light;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10%;
    cursor: pointer;
    .counterButton {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            .counterButtonText {
                color: colors.$accent;
            }
        }
        .counterButtonText {
            color: colors.$utility;
            transition: color 0.2s;
        }
    }
    .counterButtonDisabled {
        &:hover {
            .counterButtonText {
                color: #d9dedb;
            }
        }
        .counterButtonText {
            color: #d9dedb;
        }
    }
}
.Counter {
    width: 120px;
    height: 48px;
    .counterButton {
        width: 40px;
    }
    .counterNumber {
        border: none;
        width: 30px;
        padding-left: 10px;
        background-color: transparent;
        &:focus {
            outline: 0;
        }
        &::-webkit-inner-spin-button {
            display: none;
        }
    }
}
.CartCounter {
    width: 35%;
    height: 50%;
    .counterButton {
        height: 50%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            .counterButtonText {
                color: colors.$accent;
            }
        }
        .counterButtonText {
            color: colors.$utility;
            transition: color 0.2s;
        }
    }
    .counterButtonDisabled {
        &:hover {
            .counterButtonText {
                color: #d9dedb;
            }
        }
        .counterButtonText {
            color: #d9dedb;
        }
    }
    .counterNumber {
        color: black;
        background-color: transparent;
        border: none;
        width: 30px;
        padding-left: 10px;
        &:focus {
            outline: 0;
        }
        &::-webkit-inner-spin-button {
            display: none;
        }
    }
}