@use '../generics/colors';

.CheckoutModal {
    .Modal {
        .overlay {
            .content {
                box-sizing: border-box;
                height: 60%;
                width: 46%;
                top: 13%;
                right: 27%;
                padding: 2% 5%;
                @media screen and (min-width: 900px) and (min-height: 900px) {
                    width: 60%;
                    height: 45%;
                    right: 20%;
                }
                @media screen and (max-width: 850px) {
                    width: 70%;
                    right: 15%;
                    top: 18%;
                    height: 45%;
                    max-height: 650px;
                }
                @media screen and (max-width: 950px) and (max-height: 450px) {
                    width: 70%;
                    height: 65%;
                    right: 15%;
                    top: 17%;
                }
                @media screen and (max-width: 450px) {
                    width: 90%;
                    right: 5%;
                    top: 18%;
                    height: 55%;
                }
                .CheckoutSuccess {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    gap: 10px;
                    height: 100%;
                    width: 100%;
                    @media screen and (max-width: 950px) and (max-height: 450px) {
                        gap: 0;
                    }
                    .check {
                        width: 12%;
                        @media screen and (max-width: 950px) and (max-height: 450px) {
                            width: 5%;
                            margin-top: 0;
                        }
                    }
                    .thanks {
                        @media screen and (max-width: 950px) and (max-height: 450px) {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 5px;
                            width: 100%;
                        }
                        h3 {
                            font-size: 28px;
                            &:nth-child(2) {
                                margin-top: -5px;
                                @media screen and (max-width: 950px) and (max-height: 450px) {
                                    margin-top: 0;
                                }
                            }
                            @media screen and (max-width: 950px) and (max-height: 450px) {
                                font-size: 22px;
                            }
                        }
                    }
                    .receive {
                        color: colors.$utility;
                    }
                    .orderDetails {
                        width: 100%;
                        max-height: 210px;
                        display: flex;
                        margin-bottom: 10px;
                        @media screen and (max-width: 950px) and (max-height: 450px) {
                            max-height: 170px;
                        }
                        .detailsLeft {
                            background-color: colors.$lightBase;
                            width: 60%;
                            padding: 20px 5%;
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            align-items: center;
                            border-radius: 10px 0 0 10px;
                            .top, .top .itemsExpanded .itemsList {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;
                                gap: 15px;
                            }
                            .top {
                                padding-top: 10px;
                                overflow-y: auto;
                                height: auto;
                                &::-webkit-scrollbar {
                                    width: 8px;
                                }
                                &::-webkit-scrollbar-track {
                                    background-color: colors.$lightHilight;
                                }
                                &::-webkit-scrollbar-thumb {
                                    background-color: colors.$utility;
                                }
                            }
                            .toggles {
                                border-top: 1px solid colors.$utility;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding-top: 10px;
                                .displayToggle {
                                    cursor: pointer;
                                    color: colors.$utility
                                }
                            }
                        }
                        .detailsRight {
                            background-color: colors.$darkBase;
                            width: 40%;
                            border-radius: 0 10px 10px 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 5%;
                            .totalInfo {
                                display: flex;
                                flex-direction: column;
                                .valueTitle {
                                    color: #FFFFFF70;
                                    font-weight: 400;
                                }
                                .valueAmount {
                                    color: white;
                                }
                            }
                        }
                    }
                    .buttonLink {
                        width: 100%;
                        button {
                            width: 100%;
                        }
                    }
                    .orderDetailsExpanded {
                        .top {
                            padding-top: 30px !important;
                        }
                        .detailsRight {
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }
}