@use '../generics/colors';

.Navbar, .Footer {
    width: 100%;
    max-width: 100%;
}
.Navbar {
    background-color: colors.$darkBase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fixed;
    z-index: 8;
    .container {
        width: 85%;
        height: 100%;
        border-bottom: 1px solid #97979750;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navText {
            width: 62%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .menu {
                display: none;
                @media screen and (max-width: 850px) {
                    display: block;
                    
                }
            }
            .logo {
                cursor: pointer;
            }
            .navLinks {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10%;
                text-align: center;
                text-decoration: none;
                @media screen and (max-width: 1000px) {
                    margin-left: 30%;
                }
                @media screen and (max-width: 850px) {
                    display: none;
                }
                .navLink {
                    color: white;
                    transition: color 0.2s;
                    &:hover {
                        color: colors.$accent;
                    }
                }
            }
        }
        .cartToggle {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            cursor: pointer;
            background-color: transparent;
            transition: background-color 0.2s;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: colors.$darkHilight;
            }
        }
        .cartToggleDisabled {
            display: none;
        }
    }
}