@use './fonts';
@use './colors';
@use './buttons';
@use './formElements';
@use './categoryIcons';
@use './products';
@use './pageEnder';
@use './pages';
@use './productCategoryPage';
@use './home';
@use './root';
@use './productPage';
@use './cartModal';
@use './checkoutPage';
@use './cartItem';
@use './modal';
@use './checkoutModal';
@use './checkoutItem';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    width: 100%;
}